body {
    width: 100%;
    background-image: url("../images/GilmoreGirls.jpg");
    background-size: cover;
   
}

.container {
    display: flex;
    justify-content: center;
}
#board {
    background-color: rgb(0, 162, 255);
    width: 500px;
    height: 500px;
    text-align: center;
  
}

h2 {
    color: rgb(193, 111, 231);
    font-size: 3em;
}